@import "tailwindcss";

@keyframes shrink {
  from { width: 100%; }
  to   { width: 0%; }
}

/* Other animation keyframes */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  /* eslint-disable-next-line */
  scrollbar-width: none; /* Modern browsers; older browsers will show default scrollbar */
}